@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
body{
  margin:0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  background:
    radial-gradient(1200px 700px at 15% 10%, rgba(120,86,255,.20), transparent 60%),
    radial-gradient(900px 550px at 80% 30%, rgba(38,255,224,.12), transparent 65%),
    radial-gradient(900px 550px at 50% 110%, rgba(255,180,84,.10), transparent 60%),
    #070810;
  color:#e9e9ff;
}
*{ -webkit-tap-highlight-color: transparent; }
::selection{ background: rgba(120,86,255,.35); }
